<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>AccessRecord Table</h1>
        <table border="3px">
            <tr>
                <th>pk/id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
        {% for AR in access %}
            <tr>
                <td>{{AR.pk}}</td>
                <td>{{AR.name}}</td>
                <td>{{AR.author}}</td>
                <td>{{AR.date}}</td>
            </tr> 
        {% endfor %} 
        </table>
    </center>
</body>
</html>